# Byte-code files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
.env/
.env*
# Editor/IDE files
.idea/
.vscode/

# Version control
.git/
.gitignore

# Database files (if using local development DBs)
*.db
instance/*.db

# Log files
*.log
